/* 
  * Add the styles that belong to the DESKTOP view only
  * Add the media rule and the styles that are common within the TABLET and MOBILE views
  * Add the media rule and the styles that belong to the MOBILE view only
*/



@media (min-width: 1024px) {
  .top-navigation
  .trigram
  {
    display: none;
  }
  /* 👇👇👇 Add the styles that belong to the DESKTOP view only beneath 👇👇👇 */
  
  .top-navigation :hover {
    color: black;
  }

  .logo span:hover {
    color: black;
  }
  
  .email li :hover {
    color: white;
  }

  /* issue */
  .social-icons .facebook:hover,
  .social-icons .twitter:hover,
  .social-icons .instagram:hover,
  .social-icons .linked-in:hover {
    color: white ;
  }
  .social-icons .icon:hover {
    background-color: white;
      
  } 
  
  .phones li :hover {
    color: white;
  }

  .teammate-social-icons :hover {
    background-color: black;
  }

  .teammate-info .teammate-role:hover {
    color: black;
  }
  
}



/* 👇👇👇 Add the media rule and the styles that are common within the TABLET and MOBILE views beneath 👇👇👇 */
@media (min-width: 768px) AND (max-width: 1023px) {
.top-navigation ul {
  display: none;
}

header {
  width: 100%;
  position: fixed;
  background-color: white;
  border-bottom: 5px solid dimgrey;
  z-index: 999;
 }

 .content h2 {
  padding: 0;

 }

 .section-info {
  display: flex;
  flex-wrap: wrap;
 }

.content p.subtext {
  width: auto;
  padding: 0;
}
 
.portfolio-list {
  display: flex;
  flex-direction: column;
}

.portfolio-item {
  display: flex;
  flex-direction: row;
}

.teammates-list {
  display: none;
}

.teammates-list:after,
.teammates-list:before {
  display: none;
}

.teammate-social-icons div {
  background-color: black;
}

.teammate-info .teammate-role {
  color: black;
}

 .teammates-list {
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0px;
}

.teammates-list-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.teammate-img-wrapper {
  width: 100%;
  gap: 5px;
  }

 
.teammate span,
.teammate-social-icons {
  display: flex;
  justify-content: center;
}

.teammate {
  width: 48%;
}

.facebook span,
.twitter span,
.instagram span,
.linked-in span {
  display: none;
}

footer .social-icons .icon {
  background-color: white;
}

.footer-content .social-icons {
  width: 22%;
  display: flex;
  justify-content: center;
}

.footer-contacts ul li a {
  color: white;
}
}


/* 👇👇👇 Add the media rule and the styles that belong to the MOBILE view only beneath 👇👇👇 */
/* Galaxy Z Fold 5 is 344  x 882 */
@media (min-width: 360px ) AND (max-width: 767px) {
  .top-navigation ul {
  display: none;
}

header {
  width: 100%;
  position: fixed;
  background-color: white;
  border-bottom: 5px solid dimgrey;
  z-index: 999;
 }

 .content h2 {
  padding: 0;
 }

.content p.subtext {
  padding: 0;
  width: auto;
}

.content .portfolio-list {
  display: flex;
  flex-direction: column;
}

.portfolio-item-info  {
  /* display: flex;
  justify-content: center; */
  text-align: center;
}

.teammates-list:after,
.teammates-list:before {
  display: none;
}

.teammates-list-wrapper {
  display: flex;
  flex-direction: column;

}

.teammate {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.teammate-data {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teammate-info {
  text-align: center;
}

.teammate-social-icons div {
  background-color: black;
}

footer .social-icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .social-icons .icon {
  background-color: white;
}

footer .social-icons div {
  color: white;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-contacts ul li a {
  color: white;
}

} 